<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/dashboard" class="brand-logo"><img src="/img/Logo.png" class="logo-img"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/logout">Logout</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container body-container row">
    <div class="lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px;">
        <h1 class="page-header">Enter Beer</h1> {{#if errors}} {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}} {{/if}}
        <form method="post" action="/dashboard/api/beer">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Beer Name" name="beername">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Brewery Name" name="breweryname">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Country of Origin" name="origin">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Type of Beer" name="type">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout </a>
        </form>
        {{!-- <form>
            <center>
                <div class="row">
                    <div class='input-field col s12'>
                        <br>
                        <br>
                        <table>
                            <thead>
                                <th>Beer</th>
                                <th>Brewer</th>
                                <th>Origin</th>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                {{#each beer}}
                                <tr>
                                    <td>{{this.beername}}</td>
                                    <td>{{this.breweryname}}</td>
                                    <td>{{this.origin}}</td>
                                    <td>{{this.type}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </center>
            <form> --}}
    </div>
</div>
